@import "compass/reset";

@mixin w-h($wh)
{
  width: $wh;
  height: $wh;
}

$bg: #2e2e2e;

html, body
{
  box-sizing: border-box;
  @include w-h(100%);
  background: $bg;
  display: flex;
  flex-direction: column;
}

body
{
  padding: 1em;
}

#editor, #output
{
  @include w-h(50%);
  margin: auto;
  box-shadow: 0 0 1px white;
}

hr
{
  width: 100%;
  border: 1px solid black;
}

form
{
  text-align: center;
}

input
{
  width: 50%;
  background: white;
  box-shadow: 0 0 10px black inset;
}

#output
{
  background: #002b36;
}
